/* 
* Base styles 
*/

html {
  font-size: 62.5%;
}
body {
  margin: 0 auto;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #171717;
}

/* 
* Header section styles 
*/

.header {
  padding: 1.6rem;
  text-align: center;
  border-bottom: solid 1px #c6c6c6;
}
.logo {
  width: 138px;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  background-image: url('./assets/logo.svg');
  background-size: contain;
}

/* 
* Product section styles 
*/

.product-title {
  margin: 0;
  padding: 1.6rem;
  color: #111;
  font-family: 'Lora', serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2;
}
.gallery-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  overflow: hidden;
}

.gallery-item {
  line-height: 0;
  cursor: pointer;
}

/* 
* Product details section
*
* Wrapper used for spreading price and id
*/

.product-details {
  padding-top: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 4rem;
  padding-left: 1.6rem;
}
.product-details-wrapper {
  padding-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price {
  margin: 0;
  color: #111;
  font-size: 1.6rem;
  line-height: 1.19;
}
.product-id {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.17;
}
.color-name {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.17;
}
.color-list {
  margin: 0;
  padding-top: 1.6em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3.2rem;
  display: flex;
  list-style: none;
}
.color-item:not(:last-of-type) {
  margin-right: 1.6rem;
}
.color-choose {
  padding: 2rem;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.color-choose.black {
  background-color: #232122;
}
.color-choose.honey {
  background-color: #cfa880;
}
.color-choose.chosen {
  padding: calc(2rem - 1px);
  border: 1px solid #232122;
}

/* 
* Product availability section  
*/

.product-available {
  margin: 0;
  padding: 0;
  padding-top: 3.1rem;
  border-top: 1px solid #c6c6c6;
  list-style: none;
}

.product-available-item:not(:last-of-type) {
  margin-bottom: 1.6rem;
}
.product-sizes,
.product-in-store {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
  border: solid 1px;
  border-radius: 2px;
  font-family: Raleway;
  font-size: 1.2rem;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border-color: #999999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.product-sizes:active,
.product-in-store:active {
  background-color: #eee;
  color: #171717;
}
.product-sizes.active,
.product-in-store.active {
  background-color: #171717;
  border-color: #171717;
  color: #fff;
}
.product-sizes.active:active,
.product-in-store.active:active {
  background-color: #666;
  color: #fff;
}

.product-size-help {
  padding-top: 0.8rem;
  padding-right: 0;
  padding-bottom: 0.8rem;
  padding-left: 0;
  display: inline-block;
  width: auto;
  border: none;
  background-color: transparent;
  font-family: Raleway;
  font-size: 1.2rem;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.product-size-help:active {
  color: #666;
}

/* 
* Product description & shipping section
*/

.additional-info-button {
  position: relative;
  padding-top: 3.1rem;
  padding-right: 1.6rem;
  padding-bottom: 3.2rem;
  padding-left: 1.6rem;
  width: 100%;
  border: none;
  border-top: 1px solid #c6c6c6;
  font-family: Raleway;
  text-align: left;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.additional-info-button:before {
  position: absolute;
  top: 3.5rem;
  right: 1.6rem;
  content: url('./assets/triangle.svg');
}
.shipping .additional-info-button {
  border-bottom: 1px solid #c6c6c6;
}
.additional-info-title {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.19;
  font-weight: normal;
  text-transform: uppercase;
}
.additional-info-text {
  margin: 0;
  padding-top: 0.2rem;
  padding-right: 1.6rem;
  padding-bottom: 2.2rem;
  padding-left: 1.6rem;
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  display: none;
}
.additional-info.opened {
  padding-bottom: 0.8rem;
}
.additional-info.opened .additional-info-button:before {
  transform: rotate(180deg);
}
.additional-info.opened .additional-info-text {
  display: block;
}

/* 
* Recommended products sections
*
* products with photo made with 'fukol-grid'
*/

.recommend {
  padding-top: 4.8rem;
  padding-right: 1.6rem;
  padding-bottom: 6.4rem;
  padding-left: 1.6rem;
}
.recommend-title {
  margin: 0;
  padding-bottom: 0.8rem;
  display: inline-block;
  vertical-align: middle;
  border-bottom: solid 2px #171717;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}
.recommend-list {
  margin: -1.4rem;
  padding-top: 2.4rem;
  padding-bottom: 2.8rem;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.recommend-item {
  flex: 1 0 13rem;
  margin-top: 1.4rem;
  margin-right: 1.4rem;
  margin-bottom: 1.9rem;
  margin-left: 1.4rem;
}

.recommend-item-photo {
  width: 100%;
}
.recommend-item-title {
  margin-top: 0.6rem;
  margin-bottom: 0.8rem;
  font-family: 'Lora', serif;
  font-size: 1.6rem;
  line-height: 1.19;
  color: #111111;
}
.recommend-item-price {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.17;
  color: #999;
}

.recommend-more-title {
  margin: 0;
  padding-top: 1.6rem;
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
  display: inline-block;
  vertical-align: middle;
  border-bottom: solid 2px #171717;
  font-weight: 500;
  text-transform: uppercase;
}
.recommend-more-list {
  margin: 0;
  padding-top: 2.5rem;
  padding-left: 0;
  list-style: none;
}
.recommend-more-item:not(:last-of-type) {
  padding-bottom: 1.7rem;
}
.recommend-more-link {
  font-family: 'Lora', serif;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  line-height: 1.21;
  color: #171717;
}
.recommend-more-link:hover {
  text-decoration: underline;
}

/* 
* Footer section
*/

.footer {
  padding-top: 3.2rem;
  padding-right: 1.6rem;
  padding-bottom: 3.2rem;
  padding-left: 1.6rem;
  background-color: #f3f3f3;
}
.footer-info {
  margin: 0;
  padding: 0;
  padding-bottom: 2.4rem;
  list-style: none;
}
.footer-info-item:not(:last-of-type) {
  padding-bottom: 1.6rem;
}
.footer-info-button {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  border: none;
  font-family: Raleway;
  font-size: 1.2rem;
  line-height: 1.17;
  color: #999999;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.footer-help-wrapper {
  text-align: center;
}
.footer-help {
  margin: 0;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.19;
}
.footer-contact {
  margin-top: 1.6rem;
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.21;
  color: #171717;
}
.footer-contact:hover {
  text-decoration: underline;
}
