/* Fonts for future use 
  font-family: 'Lora', serif; */
html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  max-width: 320px;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #171717;
  border: 1px solid #ccc;
}
.header {
  padding: 1.6rem;
  text-align: center;
  border-bottom: solid 1px #c6c6c6;
}
.logo {
  width: 138px;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  background-image: url('./assets/logo.png');
  background-size: contain;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo {
    background-image: url('./assets/logo@2x.png');
  }
}

.product-title {
  margin: 2.4rem 0;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  color: #111;
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-weight: normal;
}
.gallery-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  overflow: hidden;
}

.gallery-item {
  cursor: pointer;
}

.product-details {
  padding-right: 1.6rem;
  padding-bottom: 3.2rem;
  padding-left: 1.6rem;
}
.product-details-wrapper {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price {
  margin: 0;
  color: #111;
  font-size: 1.8rem;
}
.product-id {
  margin: 0;
  font-size: 1.2rem;
}
.color-name {
  margin: 0;
  font-size: 1.2rem;
}
.color-list {
  margin: 0;
  padding-top: 1.6em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  display: flex;
  list-style: none;
}
.color-item:not(:last-of-type) {
  margin-right: 1.6rem;
}
.color-choose {
  padding: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}
.color-choose.black {
  background-color: #232122;
}
.color-choose.honey {
  background-color: #cfa880;
}
.color-choose.chosen {
  padding: calc(2rem - 1px);
  border: 1px solid #232122;
}

.break-line {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  height: 1px;
  border: none;
  background-color: #c6c6c6;
}

.product-available {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-available-item:not(:last-of-type) {
  margin-bottom: 1.6rem;
}
.product-sizes,
.product-in-store,
.product-size-help {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
  border: solid 1px;
  border-radius: 2px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.product-sizes {
  background-color: #171717;
  border-color: #171717;
  color: #fff;
}
.product-sizes:active {
  background-color: #666;
  color: #fff;
}
.product-in-store {
  background-color: #fff;
  border-color: #999999;
}
.product-in-store:active {
  background-color: #eee;
  color: #171717;
}
.product-size-help {
  padding-top: 0.8rem;
  padding-right: 0;
  padding-bottom: 0.8rem;
  padding-left: 0;
  display: inline-block;
  width: auto;
  border: none;
  background-color: transparent;
  text-align: left;
}
.product-size-help:active {
  color: #666;
}

.additional-info-title {
  position: relative;
  padding-top: 3rem;
  padding-right: 1.6rem;
  padding-bottom: 3rem;
  padding-left: 1.6rem;
  border-top: 1px solid #c6c6c6;
  margin: 0;
  font-size: 1.4rem;
  font-weight: normal;
  text-transform: uppercase;
}
.additional-info-title:before {
  position: absolute;
  top: 3rem;
  right: 1.6rem;
  content: url('./assets/triangle.svg');
}
.shipping .additional-info-title {
  border-bottom: 1px solid #c6c6c6;
}
.additional-info-text {
  padding-right: 1.6rem;
  padding-bottom: 3.2rem;
  padding-left: 1.6rem;
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  display: none;
}

.additional-info.opened .additional-info-title:before {
  transform: rotate(180deg);
}
.additional-info.opened .additional-info-text {
  display: block;
}

.recommend {
  padding-top: 4.6rem;
  padding-right: 1.6rem;
  padding-bottom: 6.4rem;
  padding-left: 1.6rem;
}
.recommend-title {
  margin: 0;
  margin-bottom: 1.5rem;
  padding-bottom: 0.8rem;
  display: inline-block;
  vertical-align: middle;
  border-bottom: solid 2px #171717;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
}
.recommend-list {
  margin: -1.4rem;
  padding-top: 1.6rem;
  padding-bottom: 3.6rem;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.recommend-item {
  flex: 1 0 13rem;
  margin: 1.4em;
}

.recommend-item-photo {
  width: 100%;
}
.recommend-item-title {
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
  font-family: 'Lora', serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #111111;
}
.recommend-item-price {
  margin: 0;
  font-size: 1.2rem;
  color: #999;
}

.recommend-more-title {
  margin: 0;
  padding-top: 1.6rem;
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
  display: inline-block;
  vertical-align: middle;
  border-bottom: solid 2px #171717;
  font-weight: 500;
  text-transform: uppercase;
}
.recommend-more-list {
  margin: 0;
  padding-top: 2.4em;
  padding-left: 0;
  list-style: none;
}
.recommend-more-item:not(:last-of-type) {
  padding-bottom: 1.6rem;
}
.recommend-more-link {
  font-family: 'Lora', serif;
  font-size: 14px;
  font-style: italic;
  color: #171717;
  text-decoration: none;
}
.recommend-more-link:hover {
  text-decoration: underline;
}

.footer {
  padding-top: 3.2rem;
  padding-right: 1.6rem;
  padding-bottom: 3.2rem;
  padding-left: 1.6rem;
  background-color: #f3f3f3;
}
.footer-info {
  margin: 0;
  padding: 0;
  padding-bottom: 2.4rem;
  list-style: none;
}
.footer-info-item:not(:last-of-type) {
  padding-bottom: 1.6rem;
}
.footer-info-button {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  border: none;
  font-size: 1.2rem;
  background-color: transparent;
  color: #999999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.footer-help-wrapper {
  text-align: center;
}
.footer-help {
  font-size: 1.4rem;
  font-weight: bold;
}
.footer-contact {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #171717;
}
.footer-contact:hover {
  text-decoration: underline;
}
